{%- block translations_rows -%}
    {% for translationsFields in form %}
        {{ form_errors(translationsFields) }}
        {{ form_widget(translationsFields) }}
    {% endfor %}
{%- endblock -%}


{%- block tabs -%}
    <ul class="nav nav-tabs" role="tablist"{% if form.vars.prototype_trigger is defined and form.vars.prototype_trigger %} data-prototype="{{ form.vars.prototype_trigger|e('html_attr') }}"{% endif %}>
        {% for locale, child in form %}
            {% set isActiveTab = app.request.locale == locale %}
            {% if office_manager %}
                {% set isActiveTab = office_manager.defaults.locale == locale %}
            {% endif %}

            <li class="nav-item" data-translation="{{ locale }}">
                <a {% if child.vars.empty %}title="Missing translation in {{ locale|language }}"{% endif %} class="nav-link {% if isActiveTab or form.children|length == 1 %}active{% endif %}" data-toggle="tab" href="#{{ child.vars.id }}">
                    <i class="flag flag-icon-{{ locale }} {% if child.vars.empty %}no-translation{% endif %} mr-1"></i>{% if child.vars.label %} <span class=".d-none .d-lg-block .d-xl-none">{{ locale|language }}</span>{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content"{% if form.vars.prototype is defined and form.vars.prototype %} data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}"{% endif %}>
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{%- endblock -%}

{%- block translations_tabs -%}
    {{ block(tabs) }}
{%- endblock -%}

{%- block translations_tabs_small -%}
    {{ block(tabs) }}
{%- endblock -%}
